
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.font-family {
    font-family: "Poppins","Inner","Manrope" sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  header{
    max-width: 1440px;
    margin: 0 auto;
  }
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav ul {
    display: flex;
  }
  nav h4{
    color: rgb(58, 58, 58);
    font-size: 1.25rem;
    font-weight: 700;
  }

  nav ul li{
    list-style: none;
  }
  nav ul li a{
    color: rgb(58, 58, 58);
    text-decoration: none;
    margin-right: 35px;
  }
  nav ul li a i{
    margin-right: 35px;
  }
  /* banner related style */
  .banner{
    margin-top: 50px;
    display: flex;
    gap: 130px;

  }
  .banner-contant{
   max-width: 580px;
   padding:80px ;
    
   
    
  }
  .banner-contant-title{
    color: rgb(58, 58, 58);
    font-size: 3.25rem;
    font-weight: 700;
    margin: 0;
  }
  .banner-contant-discription{
    color: rgb(58, 58, 58);
    font-size: 16px;
    font-weight: 600;
  }
  .btn{
    border-radius: 40px;
    background: rgb(224, 44, 109);
    color: rgb(255, 255, 255);
    padding: 10px 24px;
    border: none;
  }
  .banner-img{

    background-image: url("../images/Circle\ design.svg");
    background-repeat:no-repeat ;
  }
  .banner-img img{
    width: 100%;
  }
  /* contac related style */
  .contact{
    max-width: 1110px;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
  }
  /*  card related style*/
  .popular{
    max-width: 1050px;
    margin: 100px auto;
  }
  .popular-title{
    color: rgb(58, 58, 58);
    font-size: 1.85rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 50px;
  }
  .cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
  }

  .card{
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    background: rgb(255, 255, 255);
  }
  .card-title{
    color: rgb(24, 25, 31);
    font-size: 1.85rem;
    font-weight: 500;
  }
  .number{
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.25rem;
    font-weight: 400;
  }
  .card-discrption{
    color: rgb(120, 120, 133);
    font-size: 0.8rem;
    font-weight: 700;
  }
/* responsive website */
@media screen and (max-width:576px){
  nav ,
  nav ul,
  .banner,
  .contact
  {
    flex-direction: column;
    gap: 30px;
  }
  .cards{
    grid-template-columns: repeat(1,1fr);
  }
  .banner-contant-title{
    font-size: 2.25rem;
  }
  nav ul li a{
    font-size: 30px;
  }
  .banner-contant{
    max-width: 540px;
    padding: 0;
  }
  .banner-img img{
    margin-left: 30px;
  }
  .contact{
    align-items: center;
  }
}
